.perspective-1000 {
       perspective: 1000px;
}
.perspective-1200 {
       perspective: 1200px;
}
.perspective-1400 {
       perspective: 1400px;
}
.perspective-1600 {
       perspective: 1600px;
}
.perspective-200 {
       perspective: 200px;
}
.perspective-400 {
       perspective: 400px;
}
.perspective-600 {
       perspective: 600px;
}
.perspective-800 {
       perspective: 800px;
}