/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #15889d;
  --ifm-color-primary-dark: #137a8d;
  --ifm-color-primary-darker: #127485;
  --ifm-color-primary-darkest: #0f5f6e;
  --ifm-color-primary-light: #1796ad;
  --ifm-color-primary-lighter: #189cb5;
  --ifm-color-primary-lightest: #1bb1cc;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #15889d;
  --ifm-color-primary-dark: #137a8d;
  --ifm-color-primary-darker: #127485;
  --ifm-color-primary-darkest: #0f5f6e;
  --ifm-color-primary-light: #1796ad;
  --ifm-color-primary-lighter: #189cb5;
  --ifm-color-primary-lightest: #1bb1cc;
}

.navbar__title {
  font-size: 20px;
  color: #15889d;
}

.headerIcon {
  position: relative;
  top: 3px;
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
}

.full-width {
  width: 100%;
}

.stripped-table {
  display: table;
  --ifm-table-cell-padding: 5px 10px;
}

.stripped-table thead td{
  font-weight: bold;
}

.stripped-table tbody td:first-child{
  color: rgb(18, 139, 195);
}

.stripped-table tbody td:last-child {
  color: rgb(199, 17, 199);
}

.table-container{
  max-height: 500px;
  overflow: auto;
  margin-bottom: 30px;
}